*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

nav{
    height: 75px;
    box-shadow: -4px 2px 5px gray;
    text-align: center;
}

nav h1{
    padding-top: 13px;
}

form{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table{
    border-collapse: collapse;

}
table thead th{
    font-size: 20px;
    font-weight: 900;
}
table tbody td , th{
    padding: 5px;
}
table tbody td h3{
    font-size: 16px;
}
table tr .day-field{
    padding: 0;
}

.day-field input{
    border: none;
    width:100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.day-field input:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit; /* optional: prevents blue border on focus */
}

/* Remove number arrows in Chrome, Edge, Safari, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"]{
    display: block;
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(233, 92, 26);
    transition: ease-out 0.4s;
}

input[type="submit"]:hover{
    box-shadow: 5px 5px 10px black;
    
}

input[type="submit"]:active{
    transform: translateY(8px);
    box-shadow: none;
}




#expense-container{
    text-align:center ;
    margin: auto;
    margin-top: 150px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px;

}

h2{
    margin-bottom:  20px; ;
}

#expense-container label{
    font-size: 24px;
    font-weight: 600;
}

#expense-container input[type="number"]{
    width: 100%;
    height: 35px;
    margin: 5px 0 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

#mess-bill-table{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}